DATABASE_URL=postgresql://user:password@localhost:5432/fasttq
FASTTQ_BROKER_ADDR=amqp://user:password@localhost:5672
FASTTQ_DATABASE_READER_URL=postgresql://user:password@localhost:5432/fasttq
FASTTQ_DATABASE_WRITER_URL=postgresql://user:password@localhost:5432/fasttq